@import "scss/variables.scss";
@import "scss/mixins.scss";

.actionsWrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;

    @include breakpoint(tabletBig, portrait) {
        justify-content: flex-end;
    }

    @include breakpoint(tabletBig, landscape) {
        justify-content: flex-end;
    }

    > .button {
        opacity: 0.5;
        @include button($fontSize: 0.6rem);
        border-radius: 5px;
    }
}
