@import "scss/variables.scss";

@font-face {
    font-family: "Matrix";
    src: url("../../public/assets/matrix.ttf");
}

html {
    font-size: 16px;
    background: $canvasBg;
}

* {
    font-family: "Matrix";
    padding: 0;
    margin: 0;
}
