@import "scss/breakpoints.scss";
@import "scss/variables.scss";

@mixin activeStyles {
    background: none;
    text-decoration: underline;
    background-color: $onPrimary;
    color: darken($textDimmed, 10%);

    svg {
        margin-left: 0.8rem;
        transform: scale(1);
    }
}

@mixin button($fontSize, $width: auto, $height: auto) {
    color: $onPrimary;
    border: dashed $onPrimary 1px;
    padding: $fontSize 1.5 * $fontSize;
    font-size: $fontSize;
    height: $height;
    width: $width;
    transition: 0.2s;

    &[disabled] {
        opacity: 0.5;
    }

    svg {
        margin-left: 0.8rem;
        transform: scale(0.8);
        transition: all 0.5s;
    }

    @include breakpoint(tabletBig, portrait) {
        &:hover {
            @include activeStyles;
        }
    }

    @include breakpoint(tabletBig, landscape) {
        &:hover {
            @include activeStyles;
        }
    }

    @include breakpoint(mobile, landscape) {
        &:active {
            @include activeStyles;
        }
    }

    @include breakpoint(mobile, portrait) {
        &:active {
            @include activeStyles;
        }
    }
}

@mixin thinScrollBar($isVertical: true, $isVisibleOnHover: false) {
    // for desktop show the scrollbar but make it thin!
    ::-webkit-scrollbar {
        // for mobile do not show the scroll bar, user can scroll without it
        // @include breakpoint(tabletBig) {
        //   display: none;
        // }

        @if ($isVertical) {
            width: 4px;
            height: 0;
        } @else {
            width: 0;
            height: 4px;
        }
    }

    ::-webkit-scrollbar-thumb {
        background-color: #a3a3a3;
        border-radius: 4px;
    }

    @if ($isVisibleOnHover) {
        &:not(:hover) {
            &::-webkit-scrollbar-thumb {
                background-color: transparent;
            }
        }
    }
}
